# Sentiment Analysis Types

1. Rules Based Sentiment Analysis
2. Machine Learning Sentiment Analysis
3. Hybrid Models

In [51]:
# load in our library
from textblob import TextBlob

In [52]:
pos ="Power BI is an great tool to use for data visualization and analysis."
neu ="Power BI isn't the best tool for machine learning."
neg = "Power Bi is a bad tool to make pancakes."

In [53]:
blob = TextBlob(neg)

In [54]:
blob.sentiment

Sentiment(polarity=-0.6999999999999998, subjectivity=0.6666666666666666)

# Review Dataset

In [55]:
import pandas as pd
df = pd.read_csv('Hotel_Reviews.csv')
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [57]:
# truncate the dateset

In [58]:
df = df.iloc[:1000,:]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Hotel_Address                               1000 non-null   object
 1   Additional_Number_of_Scoring                1000 non-null   int64
 2   Review_Date                                 1000 non-null   object
 3   Average_Score                               1000 non-null   float64
 4   Hotel_Name                                  1000 non-null   object
 5   Reviewer_Nationality                        1000 non-null   object
 6   Negative_Review                             1000 non-null   object
 7   Review_Total_Negative_Word_Counts           1000 non-null   int64
 8   Total_Number_of_Reviews                     1000 non-null   int64
 9   Positive_Review                             1000 non-null   object
 10  Review_Total_Positive_Word_Counts           1000 non-null   int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  1000 non-null   int64
 12  Reviewer_Score                              1000 non-null   float64
 13  Tags                                        1000 non-null   object
 14  days_since_review                           1000 non-null   object
 15  lat                                         1000 non-null   float64
 16  lng                                         1000 non-null   float64
dtypes: float64(4), int64(5), object(8)
memory usage: 132.9+ KB

In [59]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng'],
      dtype='object')

In [60]:
dfs =df[['Hotel_Name','Positive_Review','Negative_Review']]

In [61]:
dfs =pd.melt(dfs, id_vars='Hotel_Name',var_name='Sentiment',value_name='Review')
dfs['Sentiment'].value_counts(normalize=True)

Positive_Review    0.5
Negative_Review    0.5
Name: Sentiment, dtype: float64

# Create a Setiment Function:

In [62]:
def get_sentiment(sentence):
    score = TextBlob(sentence).sentiment.polarity
    return score

In [63]:
dfs['Score'] = round(dfs['Review'].apply(get_sentiment),2)

In [64]:
dfs.tail()

,Hotel_Name,Sentiment,Review,Score
1995,Apex Temple Court Hotel,Negative_Review,No Negative,0.15
1996,Apex Temple Court Hotel,Negative_Review,The cleaner knocked on our door at 8am which ...,0.46
1997,Apex Temple Court Hotel,Negative_Review,This was my second time at this hotel the fir...,0.11
1998,Apex Temple Court Hotel,Negative_Review,Going as a family with two rooms hired in the...,-0.10
1999,Apex Temple Court Hotel,Negative_Review,Some of the complimentary items of food from ...,-0.00

In [65]:
def get_word(x):
    if x >0:
        return "Positive_Review"
    elif x == 0:
        return "Neutral_Review"
    else:
        return "Negative_Review"
    
dfs['Sentiment_2'] = dfs['Score'].apply(get_word) 

dfs['Accuracy']= dfs['Sentiment']==dfs['Sentiment_2']
dfs.head()

,Hotel_Name,Sentiment,Review,Score,Sentiment_2,Accuracy
0,Hotel Arena,Positive_Review,Only the park outside of the hotel was beauti...,0.28,Positive_Review,True
1,Hotel Arena,Positive_Review,No real complaints the hotel was great great ...,0.24,Positive_Review,True
2,Hotel Arena,Positive_Review,Location was good and staff were ok It is cut...,0.46,Positive_Review,True
3,Hotel Arena,Positive_Review,Great location in nice surroundings the bar a...,0.62,Positive_Review,True
4,Hotel Arena,Positive_Review,Amazing location and building Romantic setting,0.30,Positive_Review,True

In [66]:
dfs['Accuracy'].mean()

0.589