In [1]:
#create my first function

def function1():
    print("Hello")
    print("Bob")
#calling the function
function1()

Hello
Bob

In [8]:
# my second function with arguments
def greeting(x):
    print(x)
greeting("Hello Bob")

Hello Bob

In [9]:
# my second function with arguments
def greeting(x):
    return(x)*2
greeting(" Hello Bob ")

' Hello Bob  Hello Bob '

In [10]:
def formula1(x,y):
    return x*2+y+1
formula1(2,1)

6

In [15]:
#conditional function 

name1 ="Bob"
salary1 =5000
side1 = 200
expenses1=  1000

name2 ="Jill"
salary2 =7000
side2 = 1000
expenses2=  1500

name3 ="John"
salary3 =2000
side3 = 1500
expenses3=  800

In [19]:
def is_approved(name, salary, side, expenses):
    yearly_total = salary*12+side*12-expenses*12
    if yearly_total>35000:
        return name + ", you are approved."
    else:
        return name + ", you are not approved."

In [20]:
result1 = is_approved(name1,salary1,side1,expenses1)
result2 = is_approved(name2,salary2,side2,expenses2)
result3 = is_approved(name3,salary3,side3,expenses3)

In [21]:
print(result1)
print(result2)
print(result3)

Bob, you are approved.
Jill, you are approved.
John, you are not approved.